body, html{
    height: 100%;
    padding:0;
    margin:0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.content{
    height: 100%;
    position: relative;

    display:grid;
    grid-template-rows: 1fr 8fr;
}
    .header{
        background-color: #FF6969;
        

        display:grid;
        grid-template-columns: repeat(10, 1fr);
        gap:15px;
        align-items: center;
    }
        .headerTitle{
            font-size: 28px;

            grid-column: 2/3;
            
            display:flex;
            align-items: center;
            justify-content: center;
        }
        .buttons{
            background-color: #FFD3B0;
            height:50%;
            font-size: 18px;
            border:none;
            border-radius: 15px;
        }
            .buttons:hover{
                cursor: pointer;
                background-color: #FFF9DE;
            }
            .buttons:active{
                transform: scale(1.05);
            }
            
        #open-popup{
            grid-column: 8/9;
        }
        #test{
            grid-column: 9/10;
        }
    .library{
        overflow: auto;
        background-color:#A6D0DD;
        padding: 50px;

        display:grid;
        grid-template-columns: repeat(auto-fit, 285px);
        grid-template-rows: repeat(auto-fit, 250px);
        gap:50px;
    }
        .libraryCard{
            border-radius: 15px;
            background-color:#FF6969;
            padding: 15px;
       

            display:grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(6, 1fr);
            gap:0;
        }
        .libraryCard p{
            margin:0px;
        }
            .cardTitle{
                font-size: 24px;

                grid-column:1/4;
                grid-row: 1/2;
            }
            .cardAuthor{
                font-size: 18px;
                color:#654E92;
                padding-left:15px;

                grid-column:1/4;
                grid-row: 2/3;
                
            }
            .cardPages{
                font-size: 18px;
                color:#654E92;

                grid-column:1/2;
                grid-row: 4/5;
            }
            .cardRange{
                justify-self: right;
                align-self: center;
                width:50%;
                grid-column:3/4;
                grid-row: 6/7;
            }
            .cardSwitch{
                justify-self: right;
                position: relative;
                display:inline-block;
                width: 60px;
                height: 34px;

                grid-column:3/4;
                grid-row:6/7;
            }
                .checkBox{
                    display:none;
                }
                .switch{
                    position:absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color:#6C9BCF;
                    border-radius: 34px;
                    transition: all 0.3s ease-in-out;
                }
                .switch:before{
                    position: absolute;
                    content: "";
                    height: 26px;
                    width: 26px;
                    left: 4px;
                    bottom: 4px;
                    background-color: #654E92;
                    border-radius: 50%;
                    transition: all 0.3s ease-in-out;
                }
                .checkBox:checked + .switch{
                    background-color: green;
                }
                .checkBox:checked + .switch:before {
                    transform: translateX(26px);
                    background-color: aquamarine;
                  }
                .switch:hover{
                    cursor:pointer;
                }
              



/* PopUp Window Style */
#popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
  }
  
  #popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  #popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 2;
  }

  #close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  